{% extends 'base.html' %}


{% block script %}
<script>    
    function fn1(){
        window.location="emo";
    }

    function preventBack() { window.history.forward(); }  
    setTimeout("preventBack()", 0);  
    window.onunload = function () { null }; 

</script>
{% endblock %}

{% block main_text %}

<p class="t_title">
The safe swings open without a hitch, revealing the family's priceless heirloom ring, 
nestled securely at the heart of the safe. 
This long-lost masterpiece is at last back in the right hands once more.
<br><br>

<img src="{{ url_for('static', filename='img/ring.jpg') }}" alt="Example Image"  style="width: 100%;">
</p>

{% endblock %}


{% block continue %}
<button onclick="fn1()" id="btn1" class = "continue-btn">Continue</button>
{% endblock %}