<!-- page 10 -->
{% extends 'base.html' %}


{% block main_text %}
<p class="t_title">
    <br><br><br>
    Thanks for your participation! The task has been successfully completed. <br>
    <br>
    You can now return to your prolific page and end your session. Compensation will be provided there.
    <br><br>
    </p>
    <img src="{{ url_for('static', filename='img/thanks.jpg') }}" alt="Example Image"  style="width: 50%;">
    <!-- <p id = "bold">
       <b> C1LQNZ78 </b>
    </p> -->
{% endblock %}