<!-- page 1 -->
{% extends 'base.html' %}

{% block script %}
<script>
    function fn1(){
        window.location="tank_check";
    }
</script>
 {% endblock %}


{% block main_text %}
<br>
<p class="t_title">
    You are an engineer assigned to maintenance duties aboard the spaceship. 
    One of your critical responsibilities is to ensure the proper functioning of the oxygen system.</br>

    An essential lesson to remember is that if the alarm sounds, you must inspect the maintenance system immediately. 
    A troubleshooting technique involves comparing the two oxygen tanks: <b>External</b> and <b>Internal</b>.</br></br>
    
    If the External tank has significantly lower levels than the Internal tank, this indicates 
    failures caused by external threats, such as radiation from space.</br></br>

    Conversely, if the Internal tank is much lower than the External tank, this suggests internal
     maintenance issues.

</p>

<br>
<div class="container">
    <img src="{{ url_for('static', filename='img/tank_ex.jpg') }}" alt="Example Image" style="width: 90%; height: auto;">

</div>
<br><br>

<!-- <p class="t_title">


You've been closely observing the targeted residence for some time now. 
Prior to making your move, you've gathered crucial intelligence regarding 
the homeowner and their safe, where the treasure is located. 
<br><br>
The homeowner has a profound affection for triangular shapes, attributing 
to them a significant religious importance. Consequently, should the safe 
feature several lock openings, the triangular one is most likely the correct choice 
for access. Attempting to use the other openings is extremely risky, as it will 
activate the alarm system.
<br><br>
The lock opening is designed as follows:
<br>
    <br>
    <div class="container">
        <img src="{{ url_for('static', filename='img/triangle.jpg') }}" alt="Example Image" style="width: 200px; height: 200px;">
    </div>
    <br><br>

    You kept this information at heart, and now you're about to start your journey...
</p> -->

{% endblock %}

{% block continue %}
<button onclick="fn1()" id="btn1" class = "continue-btn">Continue</button>
{% endblock %}