{% extends 'base.html' %}

{% block script %}
<script>
    
    function fn1(){
        window.location="emo";
    }

    function preventBack() { window.history.forward(); }  
    setTimeout("preventBack()", 0);  
    window.onunload = function () { null }; 

</script>
 {% endblock %}


{% block main_text %}

<p class="t_title">
    Regrettably, the alarm has been set off. 
    The entire house has been secured, and it's only a matter of time before your presence is detected. 
    This situation is likely to escalate into significant trouble, jeopardizing the esteemed reputation of your family.
    <br><br>
<img src="{{ url_for('static', filename='img/alarm.jpg') }}" alt="Example Image"  style="width: 100%;">
<br></p>

{% endblock %}


{% block continue %}
<button onclick="fn1()" id="btn1" class = "continue-btn">Continue</button>
{% endblock %}